__pycache__
**/*.egg-info
data/*
.vscode
wandb
*.out
*.err
**/tmp/**
scratch.ipynb
scratch.yaml
n_test
n_test1
.env
jobinfo.py
*.jsonl
evaluation_output/*
evaluation_reports/*
influence_output/*
plots/*